{% if flash_message %}
    {% set flash_tone = flash_message[0] %}
    {% set flash_text = flash_message[1] %}
    {% include "components/_flash.html" %}
{% endif %}

<div id="profile-overview">
    {% include "profile/_overview.html" %}
</div>

<section class="layout-two-columns profile-layout">
    {% include "profile/_basics.html" %}

    {% include "profile/_skills_shell.html" %}
</section>

<section class="profile-sections-grid">
    {% include "profile/_experiences.html" %}

    {% include "profile/_projects_shell.html" %}
</section>

{% include "profile/_formation_shell.html" %}

{% include "profile/_cv_preview.html" %}


